<!DOCTYPE html>
<html lang="en">

    <head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/styles.css">
<title>
    homework#3
</title>
    </head>


    <body>
        
        <ul id="mainmenu">
            <li><a href="http://localhost:7000">Home</a></li>
            <li><a href="http://localhost:7000/football">football</a></li>
            <li><a href="http://localhost:7000/about">About</a></li>
            <li><a href="http://localhost:7000/terms">Terms of use</a></li>
            <li><a href="http://localhost:7000/privacy">Privacy</a></li>
           
        </ul>
       





    <div>
        {% block main %}

   <h1>This only shows on structure</h1>

        {% endblock main %}
    </div>




    </body>
</html>