<!DOCTYPE html>
<html lang="en">

    <head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/styles.css">
<title>
    homework#2
</title>
    </head>


    <body>
        <h1><marquee>CAR RACING</marquee></h1>
       
<p>I love cars </p>

<h2 id ="listtitle">name any car </h2>

<ol >
    <li>aston  martin</li>
    <li>porsche</li>
    <li>lamboghini</li>
    <li>mclauren</li>

</ol>


    <div>
        {% block main %}

   <h1>This only shows on structure</h1>

        {% endblock main %}
    </div>




    </body>
</html>